body {
    background-color: #d3d3d3;
    font-family: 'Anton', sans-serif;    
}
.navbar-inverse .navbar-nav li a {
    color: black;
}
.navbar-inverse .navbar-brand {
    color: black;
}
.navbar {
    margin: 0;
    border-radius: 0;
    background-color: #d0e6ff;
    border: 0;
}
.jumbotron {
    background-color: #1c3144;
    margin: 0;
    color: white;
    text-align: center;
}
/* DIVERSE MARGINALER*/
.margin-maker {
    margin-left: 10px;
    margin-right: 10px;
}
/**/
/* KNAPPAR */
/**/
/*Navbar styling*/
.navbar-toggle {
    border: #d0e6ff;
}
.navbar-toggle:hover {
    border: #333;
    color: #d0e6ff;
}
.navbar-inverse .navbar-collapse {
    border-color: #d0e6ff;
}
.profilbild {
    height: 100px;
    width: 100px;
    background-color: #ffffff;
    text-align: center;
} 
/**/
h2 {
    color: white;
    background-color: #1c3144;
}
