body {
    background-color: #dbdbdb;    
}

.navbar-inverse .navbar-nav li a {
    color: black;
}
.navbar-inverse .navbar-brand {
    color: black;
}
.navbar {
    border-radius: 0;
    background-color: #d0e6ff;
    border: 0;
    margin-bottom: 0px;
}
.jumbotron {
    background-color: #1c3144;
    color: white;
    text-align: center;
    margin-bottom: 0px;
}
/* DIVERSE MARGINALER*/
.row {
    padding-top: 15px;
    max-width: 960px;
}
/**/
/* INDEX LOGINFORM STYLING */
.index-login {
    background-color: #1c3144;
}

/**/
/*Navbar styling*/
.navbar-toggle {
    border: #d0e6ff;
}
.navbar-toggle:hover {
    border: #333;
    color: #d0e6ff;
}
.navbar-inverse .navbar-collapse {
    border-color: #d0e6ff;
}
.profilbild-big {
    margin: 15px 0 15px 0;
    height: 280px;
    width: 600px;
    background-color: #000000;
    text-align: center;
} 

.profilbild-small {
    margin: 15px 0 15px 0;
    height: 200px;
    width: 450px;
    background-color: #000000;
    text-align: center;
} 
/**/

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #1c3145;
    text-transform: uppercase;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: #1c3145;
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    font-family: 'Raleway', sans-serif;
    color: #1c3145;
    font-size: 1.4em;
    font-weight: 700;
    text-transform: uppercase;
}


p {
    font-family: 'EB Garamond', serif;
    font-size: 1.1em;
    font-weight: 600;
}

.author {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    color: #1c3145;
    text-transform: uppercase;
}

hr {
    margin: 5px 0 15px 0;
    height: 5px;
    background-color: #1c3145;
    border: 0px;
}

.filter {
    display: inline;
}

.text-center{
    text-align: center;
}

.antal_posts, .antal_kommentarer {
    background: #4f4f4f;
    color: white;
    text-align:center;   
}

.latest-posts {
    color: white;
    background-color: #1c3144;
}

.container {
    background-color: #FFFFFF;
}

.text-center {
    text-align: center;
}

footer {
    width: 100%;
    background: #1c3145;
    color: #FFFFFF;
}

footer h2 {
    color: #FFFFFF;
    font-size: 1.5em;
}

footer h3 {
    color: #FFFFFF;
    font-size: 1.2em;
}

footer .row {
    max-width: 960px;
    margin: 0 auto;
}


/* För desktop profil*/
@media screen and (min-width: 800px){
/* MARGINAL FÖR ATT FÅ FÖRSTA INLÄGGET ATT "FLYTA UPP"    
.minusmargin {
    margin-top: -100px;
}
*/
.container{
    max-width: 960px;
    padding: 15px;
    margin: 0px auto;
}
    
}/* Media stängs! */